/* :root {
	--mobile-width: 390px;
	--mobile-min-width: 320px;
} */
.page {
	scroll-behavior: smooth;
}
/* @desktop-width: 1440px;
@mobile-width: 390px; */

body {
  min-width: 1600px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
	font-weight: 400;
  color: #000;
  /* background-color: #E5E5E5; */
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 220px;
}



/* @media (min-device-width: 390px) { стандартная сетка от 390 и выше */
  /* body {
    min-width: 320px;
  } */
  /* .container { вторая часть задания */
    /* width: auto;
    margin: 0 auto;
    padding: 0 10px;
  }
}  */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows:
    min-content /*header*/
    1fr /*main*/
    min-content; /*footer*/
  align-content: start;
}

a {
	text-decoration: none;
  color: #fff;
  cursor: pointer;
}
button {
  cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}
h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 114px;
  line-height: 80%;
  /* or 91px */

  text-transform: uppercase;

  color: #000000;
}
h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */


  color: #000000;
}
h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */


  color: #000000;
}
p.subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */


  color: #000000;
}
.btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-transform: uppercase;

  color: #000000;
}
p.text-body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */


  color: #000000;
}
p.smallParagraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  /* identical to box height, or 18px */


  color: #000000;
}
.button {
  width: 298px;
  height: 54px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

  vertical-align: middle;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  border-radius: 25px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}




.page {
  height: 100%;
}

.site-navigation-list,
.site-navigation-burger,
.steps-list,
.stories-list,
.social-list,
.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* header a:hover,
.story-text a:hover {
  color: black;
} */

svg:hover path {
  fill: #4b9200;
  stroke: #4b9200;
}
.steps .svg-container:hover path {
  fill: #4b9200;
  stroke: #4b9200;
  /* transition: all 1s; */
}
/* .transition-scale {
  transition: all 1s;
}
.transition-scale:hover {
  transform: scale(1.1);
} */

button:not([type="submit"]):hover,
.number-form button:hover,
a.button:hover {
  /* color: black; */
  background: #e47209;
  /* background: linear-gradient(to bottom right, #0D606F, #19A2BB); */
  transition: transform 1s;
  transform: scale(1.05);
  /* background-color: #19A2BB; */
}
button:not([type="submit"]):active,
.number-form button:active,
a.button:active {
  /* color: black; */
  background: #4b9200;
  /* background: linear-gradient(to bottom right, #0D606F, #19A2BB); */
  transition: transform 1s;
  transform: scale(1.05);
  /* background-color: #19A2BB; */
}



.image-container {
  background-color: #fff;
  background-image: url('img/garrett-parker-DlkF4-dbCOU-unsplash1.jpg');
  background-position: top center;
	background-repeat: no-repeat;
}

.main-header {
  background-color: #000;
  /* box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5); */
  /* margin-bottom: 32px; */
  width: auto;
  margin: 0 auto;
}

.main-navigation {
  display: grid;
  grid-template-columns: 82px 1fr;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 140%;
  align-items: center;
}
.header-logo {
  /* margin-top: 25px;
  margin-bottom: 34px; */
  margin-top: 2px;
  width: 82px;
  height: 52px;
}
.nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 105px;
}
/* .header-logo-desktop {
  display: block;
}
.header-logo-mobile {
  display: none;
} */
.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 472px;
  margin-left: 63px;
  padding-top: 28px;
  padding-bottom: 30px;
}
.site-navigation-item {
  padding-right: 58px;
}
.site-navigation-item:last-child {
  padding-right: 0;
}
.designe-container {
  margin: auto;
}
.active a,
.designe-container .active a,
a:active {
  color: #f9804b;
}
.site-navigation-item a:hover,
.designe-container a:hover {
  color: #4b9200;
}
/* .login-button {
  padding: 10px 30px;
} */
.site-navigation-burger {
  /* display: none; */
  text-align: right;
  margin: 44px 15px 30px 44px;
}
.burger {
  width: 18px;
  height: 10px;
  display: inline-block;
  display: none;
  position: relative;
  margin-top: -7px;
  /* width: 35px;
  height: 32px;
  cursor: pointer;
  background: url(img/eva_menu-outline.svg) no-repeat center;
  background-size: contain;
  transition: .3s all linear;

  margin-bottom: 24px;
  margin-right: 5px; */
}
.burger::before,
.burger::after {
  content: "";
  height: 2px;
  width: 100%;
  /* border-radius: 1px; */
  background-color: #fff;
  position: absolute;
}
.burger::before {
  top: 0;
  left: 0;
}
.burger::after {
  top: 8px;
  left: 0;
}
.burger-line {
  height: 2px;
  width: 100%;
  /* border-radius: 1px; */
  background-color: #fff;
  position: absolute;
  top: 58%;
  transform: translateY(-2px);
}
.burger-menu {
  display: none;
}
.WYFAO {
  width: 1600px;
  height: 387px;

  margin: 0 auto;

  background-image: url('../../assets/images/Giant\ Panda.png');
  background-position: center -198px;
  background-repeat: no-repeat;

  position: relative;

  /* margin-bottom: 140px; */
}

.PAFAF {
  width: 1600px;
  height: 1481px;

  margin: 0 auto;

  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

  box-sizing: border-box;
  padding-top: 4px;
}
.PAFAF h3.title-section {
  color: #FFFFFF;
  margin-bottom: 0;
}
.PAFAF .text-body {
  letter-spacing: 0;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0;
  padding-right: 5px;
}
h3.subtitle-section {
  color: #FE9013;
  margin-top: 43px;
  margin-bottom: 0;
}

.PAFAF .section-wrapper {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  padding-top: 41px;
  padding-bottom: 59px;

  padding-left: 92px;
  padding-right: 92px;

  margin: 0 auto;
  margin-top: 59px;
  /* margin-top: 41px; */
}
.PAFAF h2 {
  color: #FE9013;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  margin-left: -13px;
  /* color: #333B41; */
}
.PAFAF .subtitle {
  margin-top: 22px;
  /* margin-left: 99px; */

  color: #333B41;

  margin-bottom: 0;
}
.animal {
  margin: 0 auto;
  margin-top: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animal .animal-info {
  margin-top: 51px;
  margin-left: -16px;
}
.animal .animal-number {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  /* identical to box height, or 58px */

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  margin-bottom: 0;
  margin-top: 0;
}
.animal-info .text-info {
  margin-top: 10px;
  color: #333B41;
  text-align: center;
}
.animal svg {
  margin-left: 7px;
  margin-top: 20px;
}
.animal .animal-image {
  margin-left: 65px;
}
.section-wrapper .checkbox .text-body {
  /* margin-top: 42px; */
  /* margin-left: 4px; */
  color: #000;
}
.range-controls {
  box-sizing: border-box;
  width: 976px;
  position: relative;
  height: 27px;
  margin: 0 auto;
  margin-top: 17px;
  padding-top: 13px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #404950;
  /* border: 0.5px solid orange; */
  border-radius: 2px;
}

/* .checkbox .scale {
  
  height: 2px;
  background: #72828E;
} */

/* .range-controls .bar {
  width: 70%;
  margin-left: 1%;
  height: 2px;
  background: #00ca74;
} */
.range-controls ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  width: 1037px;
  position: absolute;
  top: -27px;
  left: -70px;
}
.dot a{
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ffee2e;
  padding: 20px;
  background-clip: content-box;
  /* box-sizing: content-box; */
}
/* .dot a {
  margin: 20px;
} */


.range-controls .toggle {
  position: absolute;
  box-sizing: border-box;
  top: -6px;
  left: 274px;
  width: 40px;
  height: 40px;
  /* padding: 5px; */
  /* border: 8px solid #FE9013; */
  /* background-color: #FE9013; */
  border-radius: 50%;
  /* box-shadow: 0 2px 1px 0 #cfcfcf; */
  border: 2px solid #FE9013;
  /* cursor: pointer; */
}
.range-controls .toggle-inner {
  /* position: absolute; */
  box-sizing: border-box;
  /* top: 1px; */
  /* left: 280px; */
  width: 23px;
  height: 23px;
  padding: 0;
  margin: 6px auto;
  border: 2px solid #FE9013;

  /* border: 8px solid #FE9013; */
  /* background-color: #FE9013; */
  border-radius: 50%;
  /* box-shadow: 0 2px 1px 0 #cfcfcf; */
  /* cursor: pointer; */
}
.price-list {
  display: grid;
  margin-top: 6px;
  width: 1050px;
  margin-left: -28px;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
}
p.price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  /* or 36px */

  text-transform: uppercase;

  color: #333B41;
  margin-top: 6px;
  margin-bottom: 0;
}
.number-form {
  margin-top: 49px;
}
.checkbox .form-item {
  padding-top: 50px;
  text-align: center;
  margin-left: -29px;
}
.checkbox input[type="number"] {
  width: 268px;
  height: 54px;
  border: none;
  border: 1px solid #929699;
  border-radius: 2px;
  color: #929699;
  box-sizing: border-box;
  padding-left: 9px;
  position: relative;
  background-color: rgba(253, 253, 255, -0.48);
}
.checkbox input[type="number"] {
  background-image: url('../../assets/icons/$_1.svg');
  background-repeat: no-repeat;
  background-position: 95%;
}
.checkbox input[type="number"]:focus {
  border: none;
  background-image: url('../../assets/icons/$_2.svg');
  outline: 1px solid #4b9200;
  color: #4b9200;
  /* background-color: red; */
}
.checkbox input[type="number"]:invalid {
  border: none;
  background-image: url('../../assets/icons/$_3.svg');
  outline: 1px solid #D31414;
  color: #D31414;
  /* background-color: red; */
}
/* .form-item input[type="number"]::after {
  content: url('../../assets/icons/$.svg');
  position: absolute;
  /* top: 5px; 
  right: -11px;
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-item-radio {
  display: flex;
  justify-content: space-around;
  width: 268px;
  margin: 0 auto;
  margin-top: 25px;
}
.form-item-radio label.text-body {
  position: relative;
  display: block;
  /* display: flex; */
  cursor: pointer;
  user-select: none;
  margin-top: 0;
  color: #333B41;
}

.radio:not(:disabled):hover + label::before,
.radio:not(:disabled):hover + label::after,
.radio:not(:disabled):focus + label::before,
.radio:not(:disabled):focus + label::after {
  opacity: 1;
}

.radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  background-repeat: no-repeat;
  opacity: 0.4;
}

.radio:checked + label::before {
  display: none;
}

.radio:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.radio:disabled + label {
  opacity: 0.3;
}

.radio + label::before {
  content: "";
  position: absolute;
  left: -28px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid #FE9013;
  /* background-image: url(../img/svg/circle.svg); */
  border-radius: 50%;
  opacity: 0.4;
}

.radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -28px;
  width: 16px;
  height: 16px;
  /* background-image: url(../img/svg/radio-off.svg); */
}

.radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -28px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4b9200;
  /* background-image: url(../img/svg/radio-on.svg); */
}

/* .PAFAF a.button {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 80px;
  padding-top: 16px;
  /* margin-bottom: 59px; 
} */
.PAFAF .button-container {
  margin-top: 30px;
  text-align: center;
  margin-left: -23px;
  margin-bottom: 3px;
}
.button-container .text-body {
  color: #333B41;
  margin-top: 30px;
}


/*!!!!!!!!!!!!!!!!!вставка!!!!!!!!!!!!!!!!!!!!*/
.checkbox {
  display: flex;
  justify-content: center;
  margin-top: -17px;
  /* padding-top: 32px; */
  padding-left: 30px;
  position: relative;
}

.checkbox-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.checkbox-area {
  width: 976px;
  height: 27px;
  padding-left: 34px;
  background: #404950;
  border-radius: 2px;
  margin-top: 16px;
  /* font-size: 22px; */
  color: #333b41;
  font-weight: bold;
  display: flex;
  column-gap: 130px;
  justify-content: flex-start;
}

.checkbox-area::after {
  content: "";
  position: absolute;
  border-top: 2px solid #72828E;
  bottom: 349px;
  width: 910px;
  height: 2px;
}

.checkbox-input {
  z-index: 2;
  position: relative;
}

.checkbox-input input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  left: -25px;
  top: -15px;
}

.checkbox-input input + label {
cursor: pointer;
}

.checkbox-input input + label::before {
  content: '';
  display: inline;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffee2e;
  position: absolute;
  top: 9px;
}

.checkbox-input input:checked + label::before {
  position: absolute;
  top: -6px;
  left: -15px;
  width: 40px;
  height: 40px;
  background: radial-gradient( #ffee2e 5px, transparent 0, transparent 10px, #fe9013 0, #fe9013 12px, transparent 0, transparent 18px, #fe9013 0, #fe9013 40px, transparent 0);
}

/* .amount-number-list {
  list-style: none;
  font-family: var(--font-default);
  color: #333b41;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  margin-top: 9px;
}

.amount-number {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
}

.amount-number-item:nth-of-type(2),
.amount-number-item:nth-of-type(3) {
  margin-left: 56px;
}

.amount-number-item:nth-of-type(4),
.amount-number-item:nth-of-type(5),
.amount-number-item:nth-of-type(6) {
  margin-left: 71px;
}

.amount-number-item:nth-of-type(7),
.amount-number-item:nth-of-type(8) {
  margin-left: 85px;
}

.amount-input {
  width: 258px;
  height: 54px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #929699;
  outline: none;
  background-color: #fce4d4;
  border-radius: 2px;
  padding-left: 10px;
}

.amount-input::-webkit-inner-spin-button { 
  display: none;
}

.amount-input::placeholder { 
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}

.dollar-icon {
  font-family: var(--font-default);
  color: #929699;
  position: absolute;
  left: 694px;
  top: 223px;
  font-weight: bold;
  font-size: 22px;
}

.monthly-once {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  display: block;
  width: 268px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}

.monthly-once label:nth-of-type(2) {
  margin-left: 50px;
}

.monthly-once input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.monthly-once input + label {
cursor: pointer;
}

.monthly-once input + label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #FE9013;
  position: relative;
  left: -8px;
  top: 4px;
}

.monthly-once input:checked + label::before {
  position: relative;
  top: 4px;
  left: -8px;
  width: 18px;
  height: 18px;
  background-color: #8bc34a;
  border: none;
} */
/*!!!!!!!!!!!!!!!!!вставка!!!!!!!!!!!!!!!!!!!!*/
.price .dollar {
  width: 10px;
  height: 20px;
}

footer {
  width: 1160px;
  height: 443px;
  background-color: #111115;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "logo . . . sub sub"
    "button button . . sub sub"
    "list . . . . ."
    "list . nav nav copy copy";
}
footer .footer-logo {
  grid-area: logo;
  margin-top: 41px;
  cursor: pointer;
}
footer .footer-logo-mobile {
  grid-area: logo;
  margin-top: 41px;
  cursor: pointer;
  display: none;
}
footer .footer-logo object {
  width: 82px;
  height: 52px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}
footer .footer-logo:hover object {
  fill: #4b9200;
  stroke: #4b9200;
  border-color: #4b9200;
}
footer .button-container {
  grid-area: button;
}
footer a.button {
  display: block;
  margin: 0;
  box-sizing: border-box;
  margin-top: 49px;
  padding-top: 16px;
  border-radius: 5px;
}
footer .social-list {
  grid-area: list;
  list-style: none;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  /* gap: 3px; */
}
footer .social-list li {
  margin-bottom: -18px;
}
footer .social-list a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
footer .social-list a:hover,
footer .social-list a:active {
  color: #4b9200;
}
footer .social-list a:hover circle,
footer .social-list a:active circle {
  fill: #4b9200;
}
footer .site-navigation-list {
  margin-left: 0;
  width: 362px;
  display: flex;
  justify-content: flex-start;
}
footer nav {
  grid-area: nav;
  margin-top: 10px;
  margin-left: 12px;
}
footer .subscribtion {
  grid-area: sub;
  margin-top: 16px;
  margin-left: 21px;
}
.subscribtion .subtitle {
  color: #FFFFFF;
  margin-bottom: 14px;
}
footer .form {
  width: 366px;
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
}
footer .form-item {
  width: 226px;
}
footer .button-submit-form {
  width: 129px;
  height: 42px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  text-transform: none;

  background: #F1F3F2;
/* black_blue */

  border: 1px solid #333B41;
  border-radius: 5px;
}
footer .button-submit-form:active,
footer .button-submit-form:hover,
footer .button-submit-form:focus {
  color:#4b9200;
  border-color: #4b9200;
}
footer .button-submit-form:invalid {
  color:#D31414;
  border-color: #D31414;
}
footer .form input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  /* margin-top: 5px; */
  padding: 10px;
  border: none;
  border: 0.7px solid #f9804b;
  border-radius: 5px;

  color: #BDBDBD;

  background-color: #111115;
}
footer .button-submit-form:active,
footer .button-submit-form:hover,
footer .button-submit-form:focus {
  color:#4b9200;
  border-color: #4b9200;
}
footer .button-submit-form:invalid {
  color:#D31414;
  border-color: #D31414;
}
footer .form input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  /* margin-top: 5px; */
  padding: 10px;
  border: none;
  outline: 0.7px solid #f9804b;
  border-radius: 5px;

  color: #BDBDBD;

  background-color: #111115;
}
footer .form input[type="email"]:focus {
  outline: 1px solid #4b9200;
  /* background-color: red; */
}
footer .form input[type="email"]:invalid {
  outline: 1px solid #D31414;
  color: #D31414;
  /* background-color: red; */
}
  /* font: inherit; *//*
  background: #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border: none;
  border-radius: 10px;
  color: #0D606F;

  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #0D606F;
  /* text-transform: uppercase; *//*
 }*/
 footer .footer-copyright {
  grid-area: copy;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */


  color: #FFFFFF;

  text-align: right;
}
 .footer-copyright p:first-child {
  margin-bottom: 10px;
  margin-top: 9px;
  margin-right: 8px;
}
.footer-copyright p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer-copyright a:active ,
.footer-copyright a:focus,
.footer-copyright a:hover  {
  color: #4b9200;
  text-decoration: underline;
}
@media screen and (max-width: 1000px) { /*сетка для задания т.е. 1000px*/
  body {
    min-width: 1000px;
    box-sizing: border-box;
  }
  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0 30px;
  }
  header {
    z-index: 99;
  }
  .site-navigation-item {
    padding-right: 48px;
  }
  .WYFAO {
    width: 1000px;
    height: 390px;
    background-image: url('../../assets/images/panda_bg2.png');
    background-position: center 0px;
  }

  .PAFAF {
    width: 1000px;
    height: 1333px;
    padding-top: 29px;
  }
  .PAFAF .section-wrapper {
    margin-top: 41px;
    padding-top: 20px;
    padding-bottom: 46px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .PAFAF .subtitle {
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 0;

    color: #333B41;
  }
  .covid-info {
    padding-right: 40px;
    margin-top: 20px;
    margin-left: 0;

  }

  .ordinary-text {
    width: 849px;
    margin-left: 0;
  }
  .PAFAF h3 {
    /* color: #333B41; */
    /* text-align: center; */
    margin-top: 11px;
    padding-right: 190px;
    /* margin-bottom: 40px; */
  }
  .PAFAF .text-body {
    margin-top: 28px;
    padding-right: 10px;
  }
  .PAFAF h3.subtitle-section {
    margin-top: 46px;
  }
  .animal .animal-info {
    margin-top: 49px;
  }
  .PAFAF .text-info {
    margin-top: 10px;
  }
  .number-form {
    margin-top: 31px;
  }
  .checkbox-area {
    width: 810px;
    padding-left: 14px;
    column-gap: 128px;
  }
  .checkbox-area span:nth-child(1),
  .price-list .price:nth-child(1) {
    display: none;
  }
  .checkbox-area::after {
    bottom: 347px;
    width: 770px;
  }
  .price-list {
    margin-left: -16px;
    width: 830px;
    display: flex;
    justify-content: flex-start;
    column-gap: 67px;
  }
  .PAFAF .button-container {
    margin-top: 30px;
  }
  .testimonials {
    height: 843px;
    width: 1000px;
    background: url(../../assets/images/leav_foto2.png) right 603px no-repeat;

  }
  .testimonials .section-wrapper {
    margin-top: 0;
    padding-top: 64px;
    width: 940px;
  }

  .feedback-list {
    margin-top: 0;
    padding-top: 31px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .feedback-wrapper:last-child {
    display: none;
  }
  .feedback-card {
    height: 354px;
  }
  .range-controls {
    width: 400px;
  }
  .range-controls .toggle {
    width: 74px;
  }
  .testimonials .button {
    margin-top: 51px;
  }
  footer {
    width: 940px;
    grid-template-areas:
      "logo . . sub sub sub"
      "button button . sub sub sub"
      "list . . . . ."
      "list nav nav nav copy copy";
  }
  footer .footer-logo {
    margin-top: 0;
    padding-top: 39px;
    padding-left: 0;
  }
  footer a.button {
    margin-top: 50px;
    margin-left: 0;
  }
  footer .social-list {
    margin-top: 23px;
    padding-left: 0;
  }
  footer nav {
    padding-left: 136px;
  }
  footer .subscribtion {
    padding-left: 50px;
  }
  footer .footer-copyright {
    margin-right: -12px;
  }

}
@media screen and (max-width: 640px) { /*сетка для задания т.е. 640px*/
  body {
    min-width: 640px;
    box-sizing: border-box;
    /* position: relative; */
    /* padding-top: 70px; */
  }
  .container {
    width: 600px;
    margin: 0 auto;
    padding: 0;
  }
  /* header {
    position: sticky;
  } */
  .main-header {
    width: 640px;
    position: sticky;
    top: 0;
    /* padding-top: 4px; */
    height: 34px;
    z-index: 999;
  }
  .main-header .container {
    display: flex;
    justify-content: space-between;
  }
  .nav-wrapper {
    display: none;
  }
  .burger {
    display: inline-block;
    align-self: center;
  }
  .header-logo svg {
    margin-left: -4px;
    width: 55px !important;
    height: 37px !important;
  }
  .header-logo {
    width: 55px;
    height: 37px;
  }
  /*!!!!!!!!!!!!!!!!!бургер!!!!!!!!!!!!!*/
  .burger-menu {
    display: block;
  }
  .burger-menu {
    width: 640px;
    height: 329px;
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    /* box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25); */
    /* border-radius: 10px; */
    z-index: 10;
    /* padding: 44px 15px 30px 44px; */

    transform: translateX(100%);
    transition: 0.2s all linear;
  }
  .site-navigation-burger {
    /* display: none; */
  
    text-align: left;
    margin: 10px 15px 30px 10px;
  }
  .site-navigation-burger .header-logo-burger object {
    height: 42px;
    width: 66px;
  }
  .site-navigation-burger .burger-item:first-child {
    padding-bottom: 24px;
  }
  .site-navigation-burger .burger-item {
    padding-bottom: 15px;
  }.site-navigation-burger .burger-item:last-child {
    padding-bottom: 0;
  }
  .site-navigation-burger a {
    color: #000;
  }
  /* .burger-active {
    width: 30px;
    height: 30px;
    background-image: url(../../assets/icons/clarity_window-close-line.svg);
  } */
  .burger-nav-close {
    width: 14px;
    height: 14px;
    top: 10px;
    right: 20px;
    background-image: url(../../assets/icons/x_icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
  }
  .burger-menu-active {
    transform: translateX(0);
  }
  /*!!!!!!!!!!!!!бэкграунд темный!!!!!!!!!!!!!!!!!!!!*/
  .background-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  .background-hidden {
    display: none;
    opacity: 1;
  }


  .WYFAO {
    /* margin-top: 70px; */
    width: 640px;
    height: 335px;
    background-image: url('../../assets/images/Giant_Panda.jpg');
    background-position: center -80px;
  }

  .PAFAF {
    width: 640px;
    height: 1333px;
    padding-top: 19px;
    /* margin-top: 41px; */

    padding-bottom: 46px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .PAFAF .section-wrapper {
    margin-top: 31px;
    padding-top: 29px;
    padding-bottom: 46px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .PAFAF .subtitle {
    margin-top: 21px;
    margin-bottom: 0;
    margin-left: -5px;

    color: #333B41;
    text-align: center;
  }
  .PAFAF h2 {
    margin-left: 0;
  }
  .covid-info {
    padding-right: 40px;
    margin-top: 20px;
    margin-left: 0;

  }

  .ordinary-text {
    width: 849px;
    margin-left: 0;
  }
  .PAFAF h3 {
    /* color: #333B41; */
    /* text-align: center; */
    margin-top: 11px;
    padding-right: 0;
    /* margin-bottom: 40px; */
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .PAFAF .text-body {
    margin-top: 19px;
    padding-right: 0;
    margin-right: -10px;
  }
  .PAFAF h3.subtitle-section {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    margin-top: 28px;
  }
  .animal {
    margin-top: 51px;
}
  .animal .animal-info {
    margin-top: 49px;
  }
  .PAFAF .text-info {
    margin-top: 10px;
    margin-left: -5px;
  }
  .number-form {
    margin-top: 31px;
    margin-left: -15px;
  }
  .checkbox-name {
    width: 600px;
    margin-left: 11px;
  }
  .checkbox-area {
    width: 570px;
    padding-left: 30px;
    column-gap: 131px;
    margin-top: 8px;
  }
  .checkbox-area span:nth-child(1),
  .checkbox-area span:nth-child(2),
  .checkbox-area span:nth-child(3),
  .price-list .price:nth-child(1),
  .price-list .price:nth-child(2),
  .price-list .price:nth-child(3) {
    display: none;
  }
  .checkbox-area::after {
    bottom: 322px;
    width: 527px;
  }
  .price-list {
    margin-left: 15px;
    width: 600px;
    display: flex;
    justify-content: flex-start;
    column-gap: 72px;
  }
  .checkbox .form-item {
    margin-left: -16px;
  }
  .checkbox input[type="number"] {
    width: 180px;
    height: 42px;
  }
  .form-item-radio {
    margin-top: 30px;
  }
  .PAFAF .button-container {
    margin-left: -13px;
    margin-top: 30px;
    margin-bottom: -15px;
  }
  .PAFAF .button-container .text-body {
    margin-top: 29px;
    margin-right: -0;
  }




  footer {
    width: 640px;
    height: 283px;
    grid-template-areas:
      "logo . . . . list"
      "button button . . . list"
      "nav nav nav copy copy copy";
  }
  .page-footer.container {
    width: 640px;
    padding-right: 0;
  }
  footer .footer-logo {
    grid-area: logo;
    padding-top: 13px;
    padding-left: 20px;
  }
  footer .footer-logo object {
    width: 72px;
    height: 42px;
  }
  footer a.button {
    margin-top: 25px;
    margin-left: 20px;
  }
  footer nav {
    padding-left: 0;
    margin-top: 68px;
    margin-left: 20px;
  }
  .site-navigation-list {
    padding-bottom: 0;
  }
  .site-navigation-item {
    padding-right: 37px;
  }
  footer .subscribtion {
    display: none;
  }
  footer .social-list {
    margin: 0;
    padding-top: 13px;
    margin-right: 20px;
    gap: 38px;
    align-items: flex-end;
  }
  footer .footer-copyright {
    margin-right: 17px;
    margin-top: 58px;
  }
  footer .social-list p {
    display: none;
  }

}

@media screen and (max-width: 320px) { /*сетка для задания т.е. 320px*/
  body {
    min-width: 320px;
    box-sizing: border-box;
    /* position: relative; */
    /* padding-top: 70px; */
  }
  .container {
    width: 300px;
    margin: 0 auto;
    padding: 0;
  }
  /* header {
    position: sticky;
  } */
  .main-header {
    width: 320px;
    position: sticky;
    top: 0;
    /* padding-top: 4px; */
    height: 34px;
    z-index: 999;
  }
  .main-header .container {
    display: flex;
    justify-content: space-between;
  }
  .nav-wrapper {
    display: none;
  }
  .burger {
    display: inline-block;
    align-self: center;
  }
  .header-logo svg {
    margin-left: -4px;
    width: 55px !important;
    height: 37px !important;
  }
  .header-logo {
    width: 55px;
    height: 37px;
  }

  /*!!!!!!!!!!!!!!!бургер!!!!!!!!!!!!*/
  .burger-menu {
    width: 320px;
    height: 329px;
    
  }
  .site-navigation-burger {
    /* display: none; */
  
    text-align: left;
    margin: 10px 15px 30px 10px;
  }


  .WYFAO {
    /* margin-top: 70px; */
    width: 320px;
    height: 187px;
    background-image: url('../../assets/images/Giant\ Panda_mobile.png');
    background-position: center 0;
  }




  .PAFAF {
    width: 320px;
    height: 1082px;
    padding: 20px;
  }
  .PAFAF .section-wrapper {
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
  .PAFAF h2 {
    padding-left: 29px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-top: -2px;
    margin-bottom: 0;
    padding-left: 0;
  }
  .PAFAF .subtitle {
    margin-top: 9px;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    width: auto;
  }
  .covid-info {
    display: none;
  }
  .PAFAF .section-wrapper>.ordinary-text {
    display: none;
  }
  .PAFAF h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .PAFAF .steps-list {
    padding-top: 18px;
    /* padding-left: 26px; */
    width: 168px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 222px 1fr 222px 1fr 222px;
    /* position: relative; */
  }
  .PAFAF .steps-list .arrow {
    /* position: absolute; */
    height: auto;
    display: block;
    margin-left: 125px;
    margin-top: -62px;
    transform: rotate(90deg);
    z-index: 10;
    background: url(../../assets/icons/arrow_rotate.svg) no-repeat;
  }
  .PAFAF .steps-list .step-item {
    z-index: -10;
  }
  .steps-list .ordinary-text {
    margin-top: 9px;
  }
  .PAFAF .button-container {
    text-align: center;
  }
  .PAFAF a.button {
    margin: 0;
    margin-top: 50px;
    margin-left: -30px;
  }


/**/

.PAFAF {
  width: 320px;
  height: 1146px;
  padding-top: 19px;
  /* margin-top: 41px; */

  padding-bottom: 46px;
  padding-left: 10px;
  padding-right: 10px;
}
.PAFAF .section-wrapper {
  margin-top: 28px;
  padding-top: 22px;
  padding-bottom: 35px;
  padding-left: 0;
  padding-right: 0;
}

.PAFAF .subtitle {
  font-size: 16px;
  line-height: 140%;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: -5px;

  color: #333B41;
  text-align: center;
}
.animal .animal-number {
  font-size: 40.6015px;
    line-height: 80%;
    padding-left: 12px;
    padding-top: 37px;
    margin-bottom: 11px;
}
.PAFAF h2 {
  margin-left: 0;
}
.covid-info {
  padding-right: 40px;
  margin-top: 20px;
  margin-left: 0;

}

.ordinary-text {
  width: 849px;
  margin-left: 0;
}
.PAFAF h3 {
  /* color: #333B41; */
  /* text-align: center; */
  margin-top: 11px;
  padding-right: 0;
  /* margin-bottom: 40px; */
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}
.PAFAF .text-body {
  margin-top: 19px;
  padding-right: 0;
  margin-right: 0px;
}
.PAFAF h3.subtitle-section {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  margin-top: 26px;
}
.animal {
  margin-top: 12px;
}
.animal .animal-info {
  /* margin-top: 49px; */
  margin-top: 0;
  /* padding-left: 25px; */
  /* width: 90px;
}
/* .animal svg {
  width: 70px !important;
} */
}
.animal .animal-image {
  margin-left: 34px;
}
.PAFAF .text-info {
  width: 91px;
    font-size: 9px;
    line-height: 140%;
    margin-top: -5px;
    margin-left: 0;
    padding-left: 17px;
}

/**/

.number-form {
  margin-top: 31px;
  margin-left: -15px;
}
.checkbox {
  margin-top: -52px;
}
.checkbox-name {
  width: 300px;
  margin-left: 0;
}
.checkbox-area {
  width: 283px;
  height: 13px;
  padding-left:16px;
  column-gap: 65px;
  margin-top: 8px;
}
.checkbox-area span:nth-child(1),
.checkbox-area span:nth-child(2),
.checkbox-area span:nth-child(3),
.price-list .price:nth-child(1),
.price-list .price:nth-child(2),
.price-list .price:nth-child(3) {
  display: none;
}
.checkbox-area::after {
  bottom: 259px;
  width: 260px;
}
.price-list {
  margin-left: 15px;
  margin-top: 1px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  column-gap: 35px;
}
.checkbox .form-item {
  margin-top: -24px;
  margin-left: -16px;
}
.checkbox input[type="number"] {
  width: 180px;
  height: 42px;
}
.checkbox-input input + label::before {
  width: 4px;
  height: 4px;
  top: 5px;
}
.checkbox-input input:checked + label::before {
  position: absolute;
  top: -3px;
  left: -7.5px;
  width: 20px;
  height: 20px;
  background: radial-gradient( #ffee2e 2px, transparent 0, transparent 5px, #fe9013 0, #fe9013 6px, transparent 0, transparent 9px, #fe9013 0, #fe9013 20px, transparent 0);
}
.checkbox-input input:checked + .rad_rng_label .value {
  color: #FE9013;
}
.price .dollar {
  width: 5px;
  height: 10px;
}
p.price {
  font-size: 13px;
}
p.price.checked {
  color: #e47209;
}
.price.checked .dollar {
  fill: #e47209;
}
.form-item-radio {
  margin-top: 21px;
}
.PAFAF .button-container {
  margin-left: -13px;
  margin-top: 30px;
  margin-bottom: -15px;
}
.PAFAF .button-container .text-body {
  margin-top: 29px;
  margin-right: -0;
}


/* .number-form {
  margin-top: -4px;
  margin-left: 0;
}
.checkbox {
  display: flex;
  justify-content: center;
  margin-top: -17px;
  padding-left: 15px;
  position: relative;
}
.checkbox-name {
  width: 300px;
  margin-left: 11px;
}
.section-wrapper .checkbox .text-body {
  margin-left: 0;
  color: #000;
}
.checkbox-area {
  width: 300px;
  padding-left: 0;
  column-gap: 67px;
  margin-top: 8px;
}
.checkbox-area span:nth-child(4) {
  padding-right: 10px;
}
.checkbox-area span:nth-child(1),
.checkbox-area span:nth-child(2),
.checkbox-area span:nth-child(3),
.price-list .price:nth-child(1),
.price-list .price:nth-child(2),
.price-list .price:nth-child(3) {
  display: none;
}
.checkbox-area::after {
  bottom: 259px;
  width: 277px;
}
.checkbox-area {
  height: 14px;
}
.checkbox-input input + label::before {
  width: 4px;
  height: 4px;
  top: 5px;
}
.checkbox-input input:checked + label::before {
  position: absolute;
  top: -3px;
  left: -7.5px;
  width: 20px;
  height: 20px;
  background: radial-gradient( #ffee2e 2px, transparent 0, transparent 5px, #fe9013 0, #fe9013 6px, transparent 0, transparent 9px, #fe9013 0, #fe9013 20px, transparent 0);
}
.price-list {
  margin-left: 15px;
  margin-top: 0;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  column-gap: 34px;
}
p.price {
  font-size: 13px;
}
.price object {
  width: 5px;
  height: 10px;
}

.checkbox .form-item {
  padding-top: 24px;
  margin-left: -16px;
}
.checkbox input[type="number"] {
  width: 180px;
  height: 42px;
}
.form-item-radio {
  margin-top: 30px;
}
.PAFAF .button-container {
  margin-left: -13px;
  margin-top: 23px;
  margin-bottom: -15px;
}
.PAFAF .button-container .text-body {
  margin-top: 29px;
  margin-right: -0;
} */

/*  */

  .page-footer {
    width: 320px;
    height: 334px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "list"
      "button"
      "copy"
      "nav";
  }
  .page-footer.container {
    width: 320px;
    padding-right: 0;
  }
  footer .footer-logo {         /*!!!!!!!!!!!!!!!!!!!!*/
    display: none;
  }
  footer .footer-logo-mobile {
    display: block;
    text-align: center;
    margin-top: 18px;
    /* margin-left: 22px; */
  }
  footer .footer-logo object {
    width: 72px;
    height: 42px;
  }
  .page-footer .button-container {
    padding-left: 10px;
    margin-top: -86px;
  }
  .page-footer a.button {
    margin: 0;
    margin-top: 48px;
    text-align: center;
  }
  footer nav {
    padding-left: 20px;
    margin-top: -42px;
    margin-left: 0;
  }
  .page-footer .site-navigation-list {
    width: auto;
    padding-bottom: 0;
    padding-top: 0;
  }
  .site-navigation-list .site-navigation-item {
    padding-right: 30px;
  }
  .site-navigation-list .site-navigation-item:last-child {
    padding-right: 0;
  }
  footer .subscribtion {
    display: none;
  }
  .page-footer .social-list {
    flex-direction: row;
    margin: 0;
    padding-top: 0;
    padding-left: 63px;
    margin-right: 0;
    gap: 30px;
    align-items: flex-start;
    margin-top: -10px;
}
  footer .footer-copyright {
    margin-right: 9px;
    margin-top: -49px;
  }
  footer .social-list p {
    display: none;
  }

}