html {
  font-size: 10px;
  background-color: $color-background;
}
body {
  font-size: 1.6rem;
  font-family: 'Open Sans', Verdana, sans-serif;
}
h1 {
  @extend %font-add;
  @include font(4.4rem, 5.4rem);
}
h2 {
  @extend %font-add;
  @include font(4.4rem, 5.4rem);
}
h3 {
  @include font(2.4rem, 3.4rem);
}
h4 {
  @include font(2.2rem, 3.0rem);
}
a {
  text-decoration: none;
  color: $color-darck;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}