$basic-extragrey: #293449;
$basic-black: #000000;
$basic-white: #FFFFFF;
$basic-light: #F3F7F9;
$basic-green: #63A63E;
$basic-red: #EE3643;
$basic-grey: #F1F5F7;
$basic-greylight: #C5C5C5;
$basic-greydark: #636363;
$basic-greybeige: #F7F3EC;
$basic-darkgrey: #32425C;
$basic-darkblue: #3e5b8a;
$special-yellow: #FFBF47;
$special-yellowlight: #fdda9c;
$special-blue: #3BBCE3;
$special-purple: #DC91D8;
$special-greenlight: #8ED78F;
$special-gold: #FFD180;
$special-greylight: #F9F5F0;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

