.footer {
  background-color: $basic-darkgrey;
  @extend %font-add;
  @include font(1.8rem, 2.4rem);
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.copyright__info {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.rss-logo {
  background-image: url(../img/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat; 
  width: 150px;
  height: 35px;
}
.rss-logo:hover {
  background-image: url(../img/rss-hover.svg);
}
.year-wrap {
  color: $basic-white;
}
.copyright__info__link {
  text-align: center;
}
.copyright__info__link:hover {
  color: $basic-greylight;
}