.header {
  height: 180px;
  background-color: $basic-grey;
  color: $basic-black;
  @extend %font-add;
  @include font(1.8rem, 2.4rem);
}
.container {
  padding: 5px 0;
}
.container {
  padding: 5px 0;
}
.header-logo {
  width: 120px;
  padding: 12px 0 17px 0;
  
}

.order-nav-wrapper {
  background-color: $basic-extragrey;
}

.order-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  &:hover::before {
    opacity: 1;
  }
  &:focus::before {
    opacity: 1;
  }
}

.price-cart {
  color: $basic-white;
}

.cart:active {
  background-color: #161D29;
}

.order-nav a:not(.make-order):active::before {
  opacity: 0.3;
}

.order-info {
  display: flex;
  align-items: stretch;
}

.order-info-item a {
  position: relative;
  display: block;
  height: 42px;
  width: 150px;
  box-sizing: border-box;
  padding: 9px 0;
}

.cart:hover {
  background: #CA2C37;
}

a.cart {
  padding-left: 49px;
}

a.full-cart {
  background: $basic-red;
  width: 136px;
  padding-left: 35px;
  margin-left: 14px;
}
.order-info-item a::before {
  content: "";
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 13px;
  opacity: 0.3;
}

.cart::before {
  width: 30px;
  height: 30px;
  left: 26px;
  // background-image: url("../img/icon-cart.svg")
}

.full-cart::before {
  left: 30px;
}

.make-order {
  background-color: $basic-green;
  text-align: center;
  &:focus {
    background-color: #5FBB2D;
  }
  &:hover {
    background-color: #5FBB2D;
  }
  &:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: $basic-green;
  }

}

.full-cart-text {
  padding-left: 32px;
}
/*.header-bottom {
  height: 118px;
}*/
.header-inner {
  height: 118px;
  height: 118px;
  box-sizing: border-box;
  padding-top: 26px;
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
}

.header-inner p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.description {
  color: $basic-red;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 2.3rem;
  margin-left: 30px;
  margin-top: -3px;
}

.header-tel {
  position: relative;
  display: block;
  font-size: 2.1rem;
  line-height: 3.0rem;
  font-weight: 700;
  color: $basic-red;
  width: 270px;
  height: 45px;
  box-sizing: border-box;
  border: 3px solid $basic-white;
  padding-top: 4px;
  padding-left: 74px;
  margin-bottom: 3px;
  &::before {
    content: "";
    width: 19px;
    height: 19px;
    position: absolute;
    top: 10px;
    left: 39px;
    // background-image: url("../img/icon-phone.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}