.product-card {
  font-size: 1.7rem;
  line-height: 1.8rem;
  font-weight: 700;
  height: 318px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-card p {
  margin: 0;
}

.product-card h3{
  margin-top: auto;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  text-align: center;
  margin-top: 10px;
}

.product-card img {
  object-fit: contain;
  max-height: 170px;
}

p.old-price {
  color: #A9A9A9;
  text-decoration: line-through;
  margin-top: auto;
  margin-bottom: 13px;
}

.product-card .img-container {
  height: 170px;
  text-align: center;
  display: flex;
  align-items: center;
  order: -1;
}

a.price {
  display: block;
  box-sizing: border-box;
  width: 141px;
  height: 38px;
  padding: 10px 32px;
  // background-image: url("../img/price-button.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-top: auto;
  margin-bottom: 21px;
  color: $basic-white;
  transform: translateX(6px);
}

.product-card:hover .img-container,
.product-card:focus .img-container {
  position: absolute;
  left: -3000px;
}

.button-container {
  font-family: Cuprum, "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 38px;
}

.product-card .buy-button {
  display: block;
  width: 135px;
  height: 38px;
  background-color: $basic-green;
  box-shadow: 0 -3px 0 0 #367315 inset;
  border-radius: 2px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 54px;
  color: $basic-white;
  position: relative;
  margin-bottom: 10px;
}

.buy-button::before {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  top: 10px;
  left: 30px;
  // background: 0 0 no-repeat url("../img/icon-cart.svg");
  opacity: 0.3;
}

.buy-button:hover,
.buy-button:focus {
  background: #5FBB2D;
}

.buy-button:active {
  background: #518534;
}

.about-button {
  display: block;
  width: 135px;
  height: 38px;
  box-sizing: border-box;
  border: 3px solid $basic-green;
  border-radius: 2px;
  text-align: center;
  padding-top: 8px;
  color: $basic-darkgrey;
  cursor: pointer;
}

.about-button:hover,
.about-button:focus {
  border-color: $basic-darkgrey;
}

.about-button:active {
  border-color: $basic-darkgrey;
  opacity: 0.5;
}
.buy-button,
.about-button {
  cursor: pointer;
}

.button-container {
  height: 170px;
  position: absolute;
  left: -3000px;
  order: -1;
}

.product-card:hover .button-container,
.product-card:focus .button-container{
  position: relative;
  left: 0;
}

.product-card:hover,
.product-card:focus {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}