$color-brand: #ff9900;
$color-background: #c8bcb3;
$color-darck: #230909;
$color-light: #d6d4d4;
$color-border: #140808;
$color-active: #044647;
$color-hovered: #cdd2d2;
$color-hovered-link: #35b0b0;
$color-active-link: #7b4410;
$color-inactive: #313d32;
$color-incorrect: #b03535;
$color-correct: #35b03f;


$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

